/* License: AGPLv3 or later (http://www.gnu.org/licenses/), Copyright 2013, Martin Owens <doctormo@gmail.com> */

#shield {
  margin-bottom: 40px;
}

#banners {
  display: block;
  height: 360px;
  position: relative;
}

#banners > div {
  background-color: #000000;
  background-image: url("../images/banner.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  border-bottom: 1px solid #000000;
  display: block;
  height: 320px;
  left: 0;
  margin: 0;
  opacity: 0;
  padding: 20px;
  position: absolute;
  transition: opacity 0s ease 0.4s;
  width: calc(100% - 40px);
}

#banners > div.current {
  opacity: 1;
  transition: opacity 0.4s ease 0s;
  z-index: 1;
}

#banners > div p {
  font-size: 18px;
  line-height: 25px;
}

#banners > div > p {
  position: absolute;
  bottom: 72px;
  right: 20px;
  font-size: 12px;
  line-height: 0;
}

#banners > div > div {
  height: 250px;
  margin: 10px 30px 0px;
  max-width: 860px;
  text-align: right;
  width: calc(100% - 60px);
}

#banners > div > div > p.text {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  font-size: 18px;
  line-height: 26px;
  margin-left: auto;
  max-width: 425px;
  padding: 10px;
}

#banners a.button {
  border-color: #666666;
  display: inline-block;
}

#banners a.button img {
  float: right;
  margin: -4px -2px -4px 8px;
}

#banners > div > div > p.foot {
  font-size: 80%;
  margin-top: 5px;
}

#banners > div > div > p.foot > span {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  color: #444444;
  padding: 2px 6px;
}

#shield .tabs {
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  display: table;
  table-layout: fixed;
  word-wrap: break-word;
  margin: -70px 19px -30px;
  padding-left: 0;
  position: relative;
  z-index: 2;
}

#shield .tabs > li {
  background-color: #4d4d4d;
  background-image: linear-gradient(to bottom, #4d4d4d, #1a1a1a);
  border-color: #5a5a5a #333333 #1a1a1a #5a5a5a;
  border-style: solid;
  border-width: 1px 1px 0;
  display: table-cell;
  width: 1%;
  cursor: pointer;
}

#shield .tabs > li > a,
#shield .tabs > li > div {
  color: white;
  display: block;
  overflow: hidden;
  outline: 0;
  padding: 19px 15px 20px 60px;
  text-decoration: none;
}

#shield .tabs:not(.fixed) > li:hover,
#shield .tabs:not(.fixed) > li:focus,
#shield .tabs:not(.fixed) > li.current {
  background-color: #333333;
  background-image: linear-gradient(to bottom, #333333, #4d4d4d);
}
#shield .tabs.fixed li:not(.container):hover {
  background-color: #5b5b5b;
  background-image: linear-gradient(to bottom, #4d4d4d, #5b5b5b 25%, #1a1a1a);
}

#shield .tabs li > a > img {
  float: left;
  margin-left: -45px;
  width: 32px;
  height: 32px;
}

#shield .tabs strong {
  display: block;
  font-size: 17px;
  font-weight: normal;
  margin: 0 0 14px -45px;
}

#shield .tabs li:first-child {
  border-radius: 5px 0 0 5px;
}

#shield .tabs li:last-child {
  border-radius: 0 5px 5px 0;
}
